.small_card {
  display: flex;
  flex-direction: row;
  border-radius: 0.3125rem;
  background-color: hsl(227, 47%, 96%);
  padding: 1.25rem;
  justify-content: space-between;
  align-items: flex-end;
}

.small_card.dark {
  background-color: hsl(228, 28%, 20%);
}

.small_card:hover {
  background-color: #e1e4f0;
  cursor: pointer;
}

.small_card.dark:hover {
  background-color: #333a55;
}

.small_card_left {
  display: flex;
  flex-direction: column;
}

.small_card_title {
  font-weight: bold;
  font-size: 0.875rem;
  color: hsl(228, 12%, 44%);
  margin-bottom: 1.25rem;
  margin-top: 0;
}

.small_card_title.dark {
  color: hsl(228, 34%, 66%);
}

.small_card_numbers {
  font-weight: bold;
  font-size: 2rem;
  color: hsl(230, 17%, 14%);
  margin: 0;
}

.small_card_numbers.dark {
  color: hsl(0, 0%, 100%);
}

.small_card_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.small_card_image {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}

.small_card_small_text_container {
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
}

.small_card_small_text {
  margin: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

.small_card_small_text.green {
  color: hsl(163, 72%, 41%);
}

.small_card_small_text.red {
  color: hsl(356, 69%, 56%);
}

.small_card_small_text.darkgreen{
  color:#115A3F
}

.small_card_small_text.darkred {
  color: #9F1D26;
}

@media screen and (max-width: 26.625rem) {
  .small_card_right {
    gap: 2.5rem;
  }
}
