.big_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3125rem;
  background-color: hsl(227, 47%, 96%);
  padding: 1.25rem;
  border-top: 0.3125rem solid transparent;
  align-items: center;
}

.big_card_dark {
  background-color: hsl(228, 28%, 20%);
}

.big_card_social {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.big_card_image {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}

.big_card.facebook {
  border-color: hsl(208, 92%, 53%);
}

.big_card.twitter {
  border-color: hsl(203, 89%, 53%);
}

.big_card.instagram {
  background: linear-gradient(hsl(227, 47%, 96%), hsl(227, 47%, 96%))
      padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
}

.big_card.instagram:hover {
  background: linear-gradient(#e1e4f0, #e1e4f0)
      padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
}

.big_card_dark.instagram {
  background: linear-gradient(hsl(228, 28%, 20%), hsl(228, 28%, 20%))
      padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
}

.big_card_dark.instagram:hover {
  background: linear-gradient(#333a55, #333a55)
      padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
}

.big_card.youtube {
  border-color: hsl(348, 97%, 39%);
}

.big_card:hover {
  background-color: #e1e4f0;
  cursor: pointer;
}

.big_card_dark:hover {
  background-color: #333a55;
}

.big_card_username {
  margin: 0;
  font-weight: bold;
  font-size: 0.75rem;
  color: hsl(228, 12%, 44%);
}

.big_card_username.dark {
  color: hsl(228, 34%, 66%);
}

.big_card_numbers {
  margin: 0;
  font-weight: bold;
  font-size: 3.5rem;
  color: hsl(230, 17%, 14%);
  letter-spacing: -0.125rem;
}

.big_card_numbers.dark {
  color: hsl(0, 0%, 100%);
}

.big_card_medium_title {
  margin: 0;
  font-size: 0.7rem;
  letter-spacing: 0.3125rem;
  color: hsl(228, 12%, 44%);
  margin-bottom: 1.25rem;
}

.big_card_medium_title.dark {
  color: hsl(228, 34%, 66%);
}

.big_card_small_text_container{
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
}

.big_card_small_text {
  margin: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

.big_card_small_text.red {
  color: hsl(356, 69%, 56%);
}

.big_card_small_text.green {
  color: hsl(163, 72%, 41%);
}

.big_card_small_text.darkgreen{
  color:#115A3F
}

.big_card_small_text.darkred {
  color: #9F1D26;
}