.top-background {
  background-color: hsl(225, 100%, 98%);
  height: 15.25rem;
  width: 100%;
  position: absolute;
}

.content {
  padding: 0 10% 0 10%;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-titles {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-weight: bold;
  font-size: 1.75rem;
  color: hsl(230, 17%, 14%);
  margin: 1.125rem 0;
}

.header-subtitle {
  font-weight: bold;
  font-size: 0.875rem;
  color: hsl(228, 12%, 44%);
}

.toggle {
  display: flex;
  flex-direction: row;
  margin-top: 2.375rem;
  align-items: center;
  gap: 0.625rem;
}

.toggle-text {
  font-size: 0.875rem;
  font-weight: bold;
  color: hsl(228, 12%, 44%);
}

.big-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.875rem;
  margin: 1.5625rem 0;
}

.small-cards-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: hsl(228, 12%, 44%);
}

.small-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.5625rem;
  margin: 1.5625rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
